@import "authorization_commons.css";
/* It is used to remove the initial white spaces which browsers use */
* {
    margin: 0px;
    padding: 0px;


}

/* Handling some variables */
:root {
    --font_size: 16px;
    --maximum_width: 1280px;
    --font_family: Yekan;


}


/* Header part starts here */
/* Handling the main styles of headers */
header {
    width: 100%;
    position: fixed;
    top: 0;
    color: black;
    line-height: 65px;
    max-width: 1280px;
    background-color: white;
    font-size: var(--font_size);
    font-family: var(--font_family);
    display: flex;


}

/* Handling the styles of each button in the header */
#menu_button {
    display: block;
    text-align: center;
    line-height: 10px;
    border-style: solid;
    border-color: yellow;
    border-radius: 24px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;


}

/* Handling the style of entrance button in the header */
#menu_button:hover {
    background-color: yellow;


}

/* Handling the styles of each item at the right part of the header */
.menu_item {

    display: block;
    justify-content: center;
    padding-left: 5%;


}

/* Handling the style of each item at the right part of the header */
.menu_item:hover {
    color: rgb(48, 213, 200);
}

/* Handling the styles of the container of the items at the right part of the header */
.menu_items {
    display: flex;
    width: 60%;


}

/* Handling the styles of the shop icon at the top of the page */
#shop_icon {
    padding-right: 60px;
    font-size: 120%;
    color: rgb(48, 213, 200);


}
/* Drop down menu implementation */
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: 7%;
    text-align: center;
    margin-right: 28%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 112px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 1; /* Showing the button over the drop down menu*/




}

/* Contents inside the dropdown */
.dd_content {
    color: black;
    text-decoration: none;
    display: block;
    padding-right: 5px;
    padding-left: 5px;
    text-align: right;
}

/* Changing the  color of dropdown content on hover */
.dd_content:hover {
    background-color: silver;
}

/* Showing the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;




}
/* Handling the styles of the container of the dropdown menu */
.dropdown:hover .dropbtn {
    position: relative;
    background-color: yellow;
    top: 14px;

}


/* Handling the styles of the button at the dropdown menu */
.dropbtn {
    display: block;
    text-align: center;
    line-height: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: yellow;
    border-radius: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    padding-right: 20px;
    padding-left: 20px;
    width: 124%;
    font-size: var(--font_size);
    margin-top: 16px;
    z-index: 2; /* Showing the button over the drop down menu*/

}

/* Handling the styles of the button of the dropdown menu during hover */
.dropbtn:hover {
    background-color: yellow;

}
/* Handling the styles of the last content of the dropdown menu*/
#last_content {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;


}



/* Header part ends here */
/* Footer part starts here */
/* Handling the styles of the footer */
footer {


    position: fixed;
    bottom: 0;
    font-family: var(--font_family);
    font-size: var(--font_size);
    color: grey;
    background-color: black;
    line-height: 65px;
    max-width: var(--maximum_width);
    width: 100%;
    text-align: center;


}

/* Handling the styles of the body of the HTML code */
body {
    display: flex;
    align-items: center;
    background-color: #e2e2e2;
    justify-content: center;


}


/* Handling the styles of the main container of this page */
#main_div1 {
    display: block;
    width: 60%;
    height: 50%;
    margin-left: 20%;
    margin-right: 20%;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: var(--font_family);
    font-size: var(--font_size);
    justify-content: center;


}

/* Handling the styles of the container of the title of this page */
#title {
    display: flex;
    width: 100%;
    justify-content: center;


}

/* Handling the styles of the welcome message of this page*/
#welcome_message1 {
    display: block;
    font-weight: bold;
    font-size: 20px;


}



/* Handling the styles of the raise deposit button of this page */
#raise_deposit_button {
    height: 7%;
    width: 12%;
    border-radius: 24px;
    background-color: orange;
    display: block;
    font-family: var(--font_family);


}

/* Handling the styles of the user deposit */
#user_deposit {
    margin-right: 2%;
    margin-left: 2%;


}

/* Handling the styles of the tabs bar of this page */
#tabs1 {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 7%;


}

/* Handling the styles of the profile button in the tabs bar */
#profile_button1 {
    height: 100%;
    width: 15%;
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
    background-color: grey;
    font-size: var(--font_size);
    font-family: var(--font_family);


}

/* Handling the styles of the profile button in the tabs bar */
#profile_button2 {
    height: 100%;
    width: 15%;
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
    background-color: grey;
    font-size: var(--font_size);
    font-family: var(--font_family);


}


/* Handling the styles of the bills button in the tabs bar */
#bills_button1 {
    height: 100%;
    width: 15%;
    border-bottom-left-radius: 24px;
    border-top-left-radius: 24px;
    font-size: var(--font_size);
    font-family: var(--font_family);
    background-color: #e2e2e2;


}

/* Handling the styles of the bills button in the tabs bar */
#bills_button2 {
    height: 100%;
    width: 15%;
    border-bottom-left-radius: 24px;
    border-top-left-radius: 24px;
    font-size: var(--font_size);
    font-family: var(--font_family);
    background-color: #e2e2e2;


}


/* Handling the styles of the user address bar */
.address_input {
    display: block;
    width: 100%;
    text-align: center;
    background-color: white;
    line-height: 60px;
    border: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

/* Handling the styles of the user address label */
#address_label {
    display: block;
    width: 120px;
    line-height: 60px;
    height: 100%;
    text-align: center;
    background-color: rgb(0, 192, 198);
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

/* Handling the styles of the edit button at the bottom of the page */
#edit_button {
    width: 15%;
    height: 10%;
    font-family: var(--font_family);
    font-size: var(--font_size);
    margin-left: 42.5%;
    margin-right: 42.5%;
    background-color: orange;
    border-radius: 24px;
    margin-top: 5%;

}


#two_html_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: center;

}


/* Handling some variables */
:root {
    --font_size: 16px;
    --maximum_width: 1280px;
    --font_family: Yekan;


}

/* Header part starts here */
/* Handling the main styles of headers */
header {
    width: 100%;
    position: fixed;
    top: 0;
    color: black;
    line-height: 65px;
    max-width: 1280px;
    background-color: white;
    font-size: var(--font_size);
    font-family: var(--font_family);
    display: flex;


}

/* Handling the styles of each button in the header */
.menu_button {
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: flex-end;


}
/* Handling the main styles of dropdown menu */
#drop_down_menu {
    display: block;
    text-align: center;
    line-height: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: yellow;
    border-radius: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    padding-right: 1%;
    padding-left: 1%;


}

/* Handling the style of dropdown menu during hover */
#drop_down_menu:hover {
    background-color: yellow;


}

/* Handling the styles of entrance button in the header */
#menu_button {
    display: block;
    text-align: center;
    line-height: 10px;
    border-style: solid;
    border-color: yellow;
    border-radius: 24px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;


}

/* Handling the style of entrance button in the header */
#menu_button:hover {
    background-color: yellow;


}

/* Handling the styles of each item at the right part of the header */
.menu_item {

    display: block;
    justify-content: center;
    padding-left: 5%;


}

/* Handling the style of each item at the right part of the header */
.menu_item:hover {
    color: rgb(48, 213, 200);
}

/* Handling the styles of the container of the items at the right part of the header */
.menu_items {
    display: flex;
    width: 60%;


}

/* Handling the styles of the shop icon at the top of the page */
#shop_icon {
    padding-right: 60px;
    font-size: 120%;
    color: rgb(48, 213, 200);


}
/* Drop down menu implementation */
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: 7%;
    text-align: center;
    margin-right: 28%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 112px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 1; /* Showing the button over the drop down menu*/




}

/* Contents inside the dropdown */
.dd_content {
    color: black;
    text-decoration: none;
    display: block;
    padding-right: 5px;
    padding-left: 5px;
    text-align: right;
}

/* Changing the  color of dropdown content on hover */
.dd_content:hover {
    background-color: silver;
}

/* Showing the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;




}

/* Handling the styles of the container of the dropdown menu */
.dropdown:hover .dropbtn {
    position: relative;
    background-color: yellow;
    top: 14px;

}


/* Handling the styles of the button at the dropdown menu */
.dropbtn {
    display: block;
    text-align: center;
    line-height: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: yellow;
    border-radius: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    padding-right: 20px;
    padding-left: 20px;
    width: 124%;
    font-size: var(--font_size);
    margin-top: 16px;
    z-index: 2; /* Showing the button over the drop down menu*/

}

/* Handling the styles of the button of the dropdown menu during hover */
.dropbtn:hover {
    background-color: yellow;

}

/* Handling the styles of the last content of the dropdown menu*/
#last_content {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;


}


/* Header part ends here */
/* Footer part starts here */
/* Handling the styles of the footer */
footer {


    position: fixed;
    bottom: 0;
    font-family: var(--font_family);
    font-size: var(--font_size);
    color: grey;
    background-color: black;
    line-height: 65px;
    max-width: var(--maximum_width);
    width: 100%;
    display: block;
    text-align: center;


}

/* Handling the styles of the body of the HTML code */
body {
    display: flex;
    background-color: #e2e2e2;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;


}

/* Handling the styles of the main container of the page */
#main_div2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #e2e2e2;
    max-width: var(--maximum_width);
    width: 100%;



}

/* Handling the styles of the welcome message in the page */
#welcome_message2 {
    margin-top: 70px;
    display: flex;
    font-weight: bold;
    font-size: 20px;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    justify-content: center;

}



/* Handling the styles of the tabs bar in the page */
#tabs2 {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 5%;
    margin-top: 1%;
    margin-bottom: 2%;


}


/* Handling the styles of the bills list in the tabs bar */
#bills_list {
    display: block;
    background-color: white;
    height: 60%;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    overflow: scroll;
    margin-bottom: 70px;
    font-size: var(--font_size);
    font-family: var(--font_family);
    box-shadow: 3px 3px 3px 3px #9f9f9f;


}

/* Handling the styles of each row in the container of purchased products */
.row {
    display: flex;


}

/* Handling the styles of each cell in the container of purchased products */
.cell {
    display: block;
    margin-right: 3%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 20%;


}

/* Handling the styles of each hr in HTML file */
hr {
    display: block;
    margin-right: 1%;
    margin-left: 1%;


}






